@font-face {
  font-family: 'geist-black';
  src: url(fonts/Geist-Black.otf);
}

@font-face {
  font-family: 'geist-medium';
  src: url(fonts/Geist-Medium.otf);
}

@font-face {
  font-family: 'geist-light';
  src: url(fonts/Geist-Light.otf);
}

* {
  box-sizing: border-box;
  font-family: geist-light;
}

body {
  margin: 0;
  padding: 0;
  background: #252727;
}

.header {
  height: 15vh;
  background: #393d3d;
  display: flex;
  align-items: center;
  padding-left: 8rem;
  font-size: 2rem;
  color: #f4fdfd;
}

.add-book {
  font-size: 1.02rem;
  margin-left: 65%;
  border: none;
  border-radius: 0.3rem;
  color:#f2f8f9;
  background: #191a1a;
  width: 140px;
  height: 35px;
  text-align: center;
}

.add-book:hover {
  background-color: #586363;
}

.form-modal {
  border: none;
  border-radius: 9px;
  background: #3c5151;
  text-align: center;
  color: white;
  height: 330px;
}

 .form-modal p:first-child {
  font-size: 1.2rem;
} 

.input {
  border: none;
  border-radius: 4px;
  height: 2rem;
  width: 15rem;
  padding: 10px;
  color: white;
  background: #6d7b7b;
}

.checkbox {
  margin-left: 15px;
  width: 17px;
  height: 17px;
  accent-color: #247d7d;
}

.submit {
  width: 200px;
  height: 35px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  background-color: #13383b;
  color:white;
}

.submit:hover {
  background-color: #178289;
}