@font-face {
  font-family: 'geist-black';
  src: url(fonts/Geist-Black.otf);
}

@font-face {
  font-family: 'geist-medium';
  src: url(fonts/Geist-Medium.otf);
}

@font-face {
  font-family: 'geist-light';
  src: url(fonts/Geist-Light.otf);
}

* {
  box-sizing: border-box;
  font-family: geist-light;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: rgb(37, 39, 39);
}

.header {
  height: 15vh;
  background: #393d3d;
  display: flex;
  align-items: center;
  padding-left: 8rem;
  font-size: 2rem;
  color: rgb(244, 253, 253);
}

#add-book {
  font-size: 1.07rem;
  margin-left: 65%;
  border: none;
  border-radius: 0.3rem;
  color:rgb(242, 248, 249);
  background: #191a1a;
  width: 150px;
  height: 40px;
  text-align: center;
}

#add-book:hover {
  background-color: #586363;
}

.modal {
  display: grid;
  border: none;
  border-radius: 5px;
  background: rgb(60, 81, 81);
  text-align: center;
  color: white;
  height: 350px;
}

.modal p:first-child {
  font-size: 1.2rem;
}

.text-input {
  border: none;
  border-radius: 4px;
  height: 2rem;
  width: 15rem;
  padding: 10px;
  color: white;
  background: rgb(109, 123, 123);
}

.add-checkbox {
  margin-left: 15px;
  width: 17px;
  height: 17px;
  accent-color: rgb(36, 125, 125);
}

.submit-button {
  width: 200px;
  height: 35px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  background-color: rgb(19, 56, 59);
  color:white;
}

.submit-button:hover {
  background-color: rgb(23, 130, 137);
}